@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Lato:wght@100;400;700;900&family=Poppins:wght@400;600;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F1F2F4;
    font-family: 'inter', sans-serif;
}

nav{
    background-color: rgb(255, 255, 255);
    height: 65px;
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    margin-bottom: 10px;
}

.container{
    background-color: white;
    height:150px ;
    display: flex;
    align-items: center;
    width: 90vw;
    margin: auto;
    font-weight: 500;
    font-size: 14px;
    justify-content: space-around;
}

.logo{
    margin-right: 50px;
}

.item{
    width: 83px;
}

.search{
    background-color: #F1F2F4;
    display: flex;
    align-items: center;
   

}

input{
    border: none;
    background-color:#F0F5FF;
     width: 40vw; 
    font-size: 18px;
}

.material-symbols-outlined{
    color: rgb(124, 124, 124);
    padding:0 10px;
}

.right{
    display: flex;
    align-items: center;
    gap:25px;
   
}

.right img{
    width: 26px;
}

.login, .market, .cart{
    display: flex;
    gap:10px;
    align-items: center;
    
}